<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.5.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="SqlSugar" version="5.1.4.207" targetFramework="net48" />
</packages>